<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.geomatys.android.cordova.geo"
        version="0.0.1">

    <name>GeoLocation Plugin</name>

    <description>
        
    </description>

    <license>Apache 2</license>
    <keywords>cordova,geolocation,geofence,geofencing</keywords>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
        <engine name="cordova-android" version=">=3.7.2" />
    </engines>

    <asset src="www/ol.js" target="ol.js"/>
    <asset src="www/ol-debug.js" target="ol-debug.js"/>
    <asset src="www/geoloc.map.js" target="geoloc.map.js"/>
    <asset src="www/ol.css" target="ol.css"/>

    <js-module src="www/geoloc.plugin.js" name="geoloc">
        <clobbers target="geoloc"/>
    </js-module>

    <info>
        
    </info>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Location">
                <param name="android-package" value="com.geomatys.android.location.LocationPlugin" />
            </feature>
            <!--<feature name="org.eclipse.paho.android.service">-->
                <!--<param name="android-package" value="org.eclipse.paho.android.service"/>-->
            <!--</feature>-->
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:enabled="true" android:name="com.geomatys.android.location.LocationService" />
            <service android:enabled="true" android:name="com.geomatys.android.location.PublishService" />
            <service android:name="org.eclipse.paho.android.service.MqttService" />

        </config-file>

        <dependency id="android.support.v4" url="https://github.com/MobileChromeApps/cordova-plugin-android-support-v4" commit="be140fb103f87faa2a2da8268dbec1d93e32790d"/>
        <dependency id="com.google.playservices" url="https://github.com/MobileChromeApps/google-play-services" commit="008909a95cbb0255fe8fe008cea7409c85c601bd" />


        <source-file src="src/android/com/geomatys/android/location/LocationPlugin.java" target-dir="src/com/geomatys/android/location/"/>
        <source-file src="src/android/com/geomatys/android/location/LocationService.java" target-dir="src/com/geomatys/android/location/"/>
        <source-file src="src/android/com/geomatys/android/location/PublishService.java" target-dir="src/com/geomatys/android/location/"/>
        <source-file src="platforms/android/src/libs/org.eclipse.paho.android.service-1.0.2.jar" target-dir="libs" framework="true"/>
        <source-file src="platforms/android/src/libs/org.eclipse.paho.client.mqttv3-1.0.2.jar" target-dir="libs" framework="true"/>


    </platform>

</plugin>
